.selectCategoryItem {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  width: 138px;
  height: 136px;
  padding: 17px 9.58px 17px 9.56px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid #f2f2f2;
  background: #f2f2f2;
  cursor: pointer;
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
  &:hover {
    background: #ebf5ff;
  }
}
